img {
    width: 100px;
    height: auto;
}

.box {
    width: 500px;
    min-height: 150px;
}

.title {
    font-size: 30px;
}

.bg-round {
    border-radius: 10px;
}

.person-name {
    font-weight: 700;
    font-size: 20px;

    color: white;
}

.role-name {
    font-weight: 500;
}

.space-block {
    margin-top: 100px;
}

.user-card {
    display: block;
    padding: 20px;
}









.btns {
    margin-top: 70px;
}

.menu {
    margin-top: 60px;
}

.menu {
    width: 650px;
    height: 500px;
}

.title-label {
    font-size: 40px;
}

.corner-icon {
    float: right;
}

.action-title {
    position: absolute;
}

.ico {
    width: 70px;
    height: auto;

    margin-top: 80px;
    float: right;
}